/* ##Device = Desktops ##Screen = 1281px to higher resolution desktop */
@media (min-width: 1281px) {
  /* code in this block will be applied only if device width>1281 */
  #navbar {
    gap: 50px;
    
  }
}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* code in this block will be applied only if device width>1025 and <1280 */
  #navbar {
    gap: 200px;
  }
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  /* code in this block will be applied only if device width>768 and <1024 */
  #navbar {
    gap: 125px;
  }
}

/* ##Device = Low Resolution Tablets,  ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
  /* code in this block will be applied only if device width>481 and <767 */
  #navbar {
    gap: 50px;
  }
}

/*  ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
  /* code in this block will be applied only if device width>320 and <480 */
  #navbar {
    gap: 25px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  
}

#navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
}

#title_text {
  margin-top: 100px;
  font-size: 4.5rem;
  font-family: "Smokum", cursive;
}

.nav_link:link,
.nav_link:visited,
.nav_link:active {
  color: white;
  text-decoration: none;
  font-family: "Pangolin", cursive;
}

ul {
  list-style: none;
}
li {
  display: inline;
  margin: 70px;
}

#link_type {
  margin-top: 150px;
  font-size: 1.7rem;
}
.menu {
  margin-right: 160px;
}
#icon_text {
  display: flex;
  gap: 150px;
}
#banner_image {
  position: absolute;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  
}
.nav_link:hover {
  color:#F6BA6F;
}
#title_text:hover
{
  color: #F6BA6F;
}
.about_us
{ 
  font-size: 2.5rem;
   background-color: rgba(0, 0, 0, 0.925);
}

